
<template name ="About">
  <div class="master-navbartwo1"></div>
  <div class="master-navbarthree1"></div>
  <div class="master-navbar"></div>
  <div id='mastermenu'></div>
  <p id="creatornetwork"> The Creator Network </p>
</template>



<template name="WreadAbout">
  <div class="modal2345" id="myyyModal1">
  <div class="modal-contentyou0">
    <span class="closeyou1"> CLOSE X </span>
    <div id="wread2">
    <a id='about' href="/about"> ABOUT </a>
    <br>
    <a id='termsandconditions' href="/settings"> TERMS AND CONDITIONS </a>
    <br>
    <a id='advertise' href='/advertise'> ADVERTISE </a>
    <br>
    <a id='investors' href='/investors' > INVESTORS </a>
    <br>
    <a id='careers' href='/careers' > CAREERS </a>
    </div>
  </div>
  </div>
</template>
