<template name="StreamImageReusable">
<div class="image_head">
<img height="430" src="{{this.url}}">
<p class="image_title">{{image.imagetitle}}</p>
<p colspan="4" class="music_info_text3" style="float:left;">{{image.imagetext}}</p>
<img src="{{image.media}}" width="300" height="300" class="inline">
<p class="inline image_creator">{{image.imagemember}}</p>
</div>
<p class="music_info_text2"> {{image.imagemembers}} </p>
<img src="{{profilePic.url}}" width="42" height="42" class="inline">
<p class="date_text_dark"> {{image.imagedate}}</p>
<br>
<div>
  {{>CommentArea}}
</div>
</template>
