<template name="ImageItemReusable">
    <div id="image_div">
          <p class="normal" style="float:left;"> {{image.imagedate}}</p>
          <p class="normal" style="float:left;"> {{image.imageimage}}</p>
        <div class="like_button_dark" style="margin-left:30%;"><p class="music_info_buttons_text"> LIKE </p></div>
        <div class="save_button_dark"><p class="music_info_buttons_text"> SAVE </p></div>
        <div class="share_button_dark"><p class="music_info_buttons_text"> SHARE </p></div>
        <div class="song_title" style="float:left;"><p>{{image.imagetitle}}</p></div>
      </div>
</template>
