<template name="ProductItemReusable">
<div href="/{ { pathForProductStream } }" id="Images">
  <img href="/{{id}}" id="picture" src="{{product.productimage}}">
</div>
<div id="sweatshirtinfo">
  <button data-choice="Rightside" href="" id="lovebutton"><a id="commentscount"></a> LOVE</button>
  <button data-choice="Rightside" href="" id="buydarkfeed"><a id="price"></a> BUY</button>
  <a href="/{{Account}}" id="account"> {{product.productmember}} </a>
  <a href="/{{Title}}" id="title"> {{product.producttitle}} </a>
</div>
</template>
