<template name="StreamTextReusable">
  <div class="article_header">
    <p class="article_title">{{text.texttitle}}</p>
    <div class="article_creator">
      <p class="inline article_creator">{{text.textmember}}</p>
    </div>
  </div>
  <div class="like_button_dark" style="margin-left:30%;"><p class="music_info_buttons_text"> LIKE </p></div>
  <div class="save_button_dark"><p class="music_info_buttons_text"> SAVE </p></div>
  <div class="share_button_dark"><p class="music_info_buttons_text"> SHARE </p></div>
  <div class="article_content">
  {{text.texttext}}
  </div>
  <div class="article_footer">
  </div>
</template>
